<div class="top-container">

  <div class="card black row">
    <div class="intro col-12 col-xl-2">
      <%= image_tag "Profile.jpeg", alt: "profile image", class: "avatar" %>
      <h1>Hi,</h1>
      <h1>I'm Kingsley</h1>
    </div>

    <div class="middle col-12 col-xl-6">
      <h1>Developer based in Hong Kong</h1>
      <h1>I like building things</h1>
    </div>

    <div class="icons col-12 col-xl-2">
      <%= link_to "https://github.com/KingsLau", target: "_blank" do %>
        <i class="fab fa-github"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/kingsley-lau/", target: "_blank" do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
      <%= mail_to "lau.kingsley@gmail.com" do %>
        <i class="far fa-envelope"></i>
      <% end %>
    </div>
  </div>

</div>

<div class="project-container">

  <div class="card">
    <div class="project-content row">
      <div class="project-description col-12 col-xl-4">
        <div class="project-header">
          <%#= link_to "https://www.companymd.world" do %>
          <h3>CompanyMD</h3>
          <%# end %>
          <h3>(built in 9 days)</h3>
        </div>
        <br>
        <div class="project-text">
          <p>CompanyMD is a platform that aggregates financial data and relevant news from a variety of trustworthy sources on the internet that lets users deep dive into specific companies as well as compare company financial data side-by-side.</p>
          <p>The main challenges of this project were to set realistic goals to complete within the short timeframe, prioritize these goals based on perceived value versus completion, aggregate data from reliable sources, and to display all of this information in clean and simple to understand format to cater to novices and professionals alike.</p>
          <p>My team was able to create a polished working project in the short timeframe this by utilizing the Scrum agile process framework so that each member worked independently on different tasks with priorities on tasks that blocked other workflows. Also, by spending a lot of time on searching for reliable APIs and or scrapping where we needed to, we were able to create a reliable project that users can trust.</p>
        </div>
      </div>
      <div class="project-image col-12 col-xl-8">

        <div class="bd-example">
          <div id="carousel-one" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-one" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-one" data-slide-to="1"></li>
              <li data-target="#carousel-one" data-slide-to="2"></li>
              <li data-target="#carousel-one" data-slide-to="3"></li>
              <li data-target="#carousel-one" data-slide-to="4"></li>
              <li data-target="#carousel-one" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= link_to (image_tag 'CompanyMD Dashboard.png', alt: "company md dashboard image"), "https://www.companymd.world/", target: "_blank" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>CompanyMD</h5>
                  <p>Browse your stocks and market indices.</p>
                </div>
              </div>
              <div class="carousel-item">
                <%= link_to (image_tag 'CompanyMD Company General.png', alt: "company md company general image"), "https://www.companymd.world/", target: "_blank" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Tesla</h5>
                  <p>Browse Tesla's general information.</p>
                </div>
              </div>
              <div class="carousel-item">
                <%= link_to (image_tag 'CompanyMD Company Financials.png', alt: "company md company financials image"), "https://www.companymd.world/", target: "_blank" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Tesla Financials</h5>
                  <p>Browse Tesla's financials.</p>
                </div>
              </div>
              <div class="carousel-item">
                <%= link_to (image_tag 'CompanyMD Comparison General.png', alt: "company md comparison general image"), "https://www.companymd.world/", target: "_blank" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Compare Companies</h5>
                  <p>Compare companies side-by-side.</p>
                </div>
              </div>
              <div class="carousel-item">
                <%= link_to (image_tag 'CompanyMD Comparison News.png', alt: "company md comparison news image"), "https://www.companymd.world/", target: "_blank" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Compare Companies</h5>
                  <p>Compare their financials or browse their news or SEC reports.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-one" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-one" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
        <%#= video_tag "CompanyMD.mp4", autoplay: true, loop: true, mute: true, playsinline: true, alt: "no video available", class: "video" %>
        <!-- <iframe class="video" allowfullscreen="1" allowtransparency="true" src="https://www.youtube.com/embed/Wnj1kBUu7-0?mute=1&amp;modestbranding=1&amp;loop=1&amp;autoplay=1&amp;controls=0&amp;disablekb=1&amp;playlist=Wnj1kBUu7-0&amp;enablejsapi=1&amp;autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <video class="video" width="320" height="240" controls autoplay>
          <source src="../../assets/videos/CompanyMD.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video> -->
        <!-- <iframe class="video" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" src="https://www.youtube.com/embed/0pgXqKTgUMg?showinfo=0&amp;mute=1&amp;modestbranding=1&amp;loop=1&amp;autoplay=1&amp;controls=0&amp;disablekb=1&amp;playlist=0pgXqKTgUMg&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.codechrysalis.io&amp;widgetid=1" id="widget2"></iframe> -->

  <div class="card black">
    <div class="project-content row">
      <div class="project-image col-12 col-xl-8">

        <div class="bd-example">
          <div id="carousel-two" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-two" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-two" data-slide-to="1"></li>
              <li data-target="#carousel-two" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= link_to (image_tag 'FindMySensei Landing.png', alt: "find my sensei landing image"), "http://stmatch.herokuapp.com/", target: "_blank" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>FindMySensei</h5>
                  <p>Are you a student or a teacher? Learn or teach - you choose.</p>
                </div>
              </div>
              <div class="carousel-item">
                <%= link_to (image_tag 'FindMySensei Booking.png', alt: "find my sensei booking image"), "http://stmatch.herokuapp.com/", target: "_blank" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Booking</h5>
                  <p>You have made a booking.</p>
                </div>
              </div>
              <div class="carousel-item">
                <%= link_to (image_tag 'FindMySensei Bookings.png', alt: "find my sensei bookings image"), "http://stmatch.herokuapp.com/", target: "_blank" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Bookings</h5>
                  <p>Here are your bookings: both as a student and teacher.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-two" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-two" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

      </div>
      <div class="project-description col-12 col-xl-4">
        <div class="project-header">
          <%#= link_to "http://stmatch.herokuapp.com" do %>
          <h3>FindMySensei</h3>
          <%# end %>
          <h3>(built in 5 days)</h3>
        </div>
        <br>
        <div class="project-text">
          <p>FindMySensei is a platform that links teachers with prospective students. A teacher can create a course on any subject and specify a location that they are willing to teach at. A student can search and sign up for a course. Once both parties confirm, the meet is set.</p>
          <p>As this was our first team project, the main challenge was to accustomize ourselves to working as a team as we had only worked on independent projects prior. Another major challenge was to always ensure that code pushed into production always worked.</p>
          <p>To overcome these obstacles, we utilized and set up GitHub to manage and debug our code, Trello with a Scrum agile attitude, and attentiveness to Heroku logs when something went wrong.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card white">
    <div class="project-content row">
      <div class="project-description col-12 col-xl-4">
        <div class="project-header">
          <%#= link_to "https://cocktail-tengoku.herokuapp.com/" do %>
          <h3>Cocktail Heaven</h3>
          <%# end %>
          <h3>(built in 1 day)</h3>
        </div>
        <br>
        <div class="project-text">
          <p>Cocktail Heaven is a simple platform where anybody can create a cocktail and the recipe by adding different amounts of ingredients to the drink; cocktails and ingredients can also be removed.</p>
          <p>This was my first rails project. The main challenge I found was becoming accustomed to CSS and design in general as I have never had to design nor implement these designs in the past by myself.</p>
          <p>I was able to create this by looking at some other websites for inspiration and then tinkering with the design during implementation, such as the creation of the modals when clicking into a drink.</p>
        </div>
      </div>
      <div class="project-image col-12 col-xl-8">
        <div class="bd-example">
          <div id="carousel-three" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-three" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-three" data-slide-to="1"></li>
              <li data-target="#carousel-three" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= link_to (image_tag 'Cocktail Heaven Landing.png', alt: "cocktail heaven landing image"), "https://cocktail-tengoku.herokuapp.com/", target: "_blank" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Cocktail Heaven</h5>
                  <p>Welcome. Would you like a drink?</p>
                </div>
              </div>
              <div class="carousel-item">
                <%= link_to (image_tag 'Cocktail Heaven Drinks.png', alt: "cocktail heaven drinks image"), "https://cocktail-tengoku.herokuapp.com/", target: "_blank" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Drink Selection</h5>
                  <p>Choose a drink.</p>
                </div>
              </div>
              <div class="carousel-item">
                <%= link_to (image_tag 'Cocktail Heaven Drink.png', alt: "cocktail heaven drink image"), "https://cocktail-tengoku.herokuapp.com/", target: "_blank" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Moscow Mule</h5>
                  <p>Enjoy your drink.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-three" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-three" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
