<div class="top-container">

  <div class="card odd">
    <div class="intro">
      <%= image_tag "Profile.JPG", alt: "profile image", class: "avatar" %>
      <h1 class="">Hello,</h1>
      <h1 class="">I'm Kingsley</h1>
    </div>
    <div class="middle">
      <h1>Welcome</h1>
    </div>
    <div class="icons">
      <%= link_to "https://github.com/KingsLau", target: "_blank" do %>
        <i class="fab fa-github"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/kingsley-lau/", target: "_blank" do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
      <%= link_to "https://github.com/KingsLau", target: "_blank" do %>
        <i class="far fa-envelope"></i>
      <% end %>
    </div>
  </div>

</div>


<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(<%#= image_path 'banner.jpeg', height: 300, width: 1200, crop: :fill %>);">
</div> -->


<div class="content-container">

  <div class="card">
    <div class="project-content">
      <div class="project-description">
        <h3>CompanyMD (built in 9 days)</h3>
        <!-- p>Role: Project Manager</p>
        <p>Utilizing the Scrum framework, I set realistic goals for my team to complete within the short timeframe and prioritized these based on the perceived value it would bring to the project against its estimated completion time.</p> -->
        <p>CompanyMD is a platform that aggregates financial data and relevant news from a variety of trustworthy sources on the internet that lets users deep dive into specific companies as well as compare company financial data side-by-side.</p>
        <p>The main challenges of this project were to set realistic goals to complete within the short timeframe, prioritize these goals based on perceived value versus completion, aggregate data from reliable sources, and to display all of this information in clean and simple to understand format to cater to novices and professionals alike.</p>
        <p>My team accomplished this by utilizing the Scrum agile process framework so that each member worked independently on different tasks with priorities on tasks that blocked other workflows. Also, by spending a lot of time on searching for reliable APIs and or scrapping where we needed to, we were able to create a reliable project that users can trust.</p>
      </div>
      <div class="project-image">
        <%= link_to (image_tag 'CompanyMD.png', alt: "project one image"), "https://www.companymd.world/", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="card odd">
    <div class="project-content">
      <div class="project-image">
        <%= link_to (image_tag 'FindMySensei.png', alt: "project two image"), "http://stmatch.herokuapp.com", target: "_blank" %>
      </div>
      <div class="project-description">
        <h3>FindMySensei (built in 5 days)</h3>
        <p>Role: Project Manager</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tortor dolor, dapibus non placerat sit amet, dictum eget orci. Nam mollis sed ligula sit amet accumsan. Pellentesque volutpat in velit quis accumsan. Ut nisl ante, porttitor malesuada neque vel, egestas tristique purus. Sed blandit quam ut magna tincidunt, luctus tincidunt dolor molestie. Aliquam id gravida felis, non consequat nisi. Suspendisse non lacus at nunc ultricies ultricies.</p>
      </div>
    </div>
  </div>

</div>
<!--
<div class="section">
  <div class="card">
  </div>
  <div class="card">
  </div>
</div> -->

