<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Hong Kong-based web developer with expertise in Ruby on Rails, HTML, CSS, ES6, SQL.">
    <meta name=“keywords” content=“Kingsley Lau, developer, Ruby on Rails, HTML, CSS, ES6, SQL”>
    <meta name=“author” content=“Kingsley Lau”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"> -->
    <title>Kingsley Lau</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146844081-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146844081-2');
    </script>

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->    <!-- Facebook Open Graph data -->
    <!-- <script>
        $(function() {
          $.scrollify({
            section : ".project-1",
            // sectionName : "project-1",
            // interstitialSection : "",
            // easing: "easeOutExpo",
            // scrollSpeed: 1100,
            // offset : 0,
            // scrollbars: true,
            // standardScrollElements: "",
            // setHeights: true,
            // overflowScroll: true,
            // updateHash: true,
            // touchScroll:true,
            // before:function() {},
            // after:function() {},
            // afterResize:function() {},
            // afterRender:function() {}
          });
        });
      </script> -->
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
